{% for index in splunk_indexes %}
[{{ index.name }}]
homePath = {{ index.data_disk_path }}/db
coldPath = {{ index.data_disk_path }}/colddb
thawedPath = {{ index.data_disk_path }}/thaweddb
maxDataSize = {{ index.max_data_size }}
frozenTimePeriodInSecs = {{ index.frozen_time_secs }}
tstatsHomePath = default

{% endfor %}
