[http://cribl_hec]
disabled = false
port = {{ splunk_hec_port }}
source = http:cribl
sourcetype = {{ splunk_hec_default_sourcetype }}
index = {{ splunk_hec_default_index }}
token = {{ splunk_hec_token }}
{% if not splunk_hec_enable_ssl %}
ssl = false
{% else %}
ssl = true
{% endif %}

[syslog:1514]
connection_host = dns
source = syslog:1514
sourcetype = {{ splunk_syslog_default_sourcetype }}
index = {{ splunk_syslog_default_index }}
