[general]
default_ui = splunk_home_default_dark
session_timeout = 1h
enable_insecure_login = false
enable_html_entity_encoding = true

[settings]
minify_js = true
minify_css = true
caching_headers_enabled = true

[feature_flags]
