---
# Splunk Docker role defaults

# Docker configuration
splunk_docker_package_name: docker.io
splunk_docker_compose_package: docker-compose-plugin

# Splunk container configuration
splunk_docker_image: splunk/splunk:latest
splunk_docker_hostname: splunk
splunk_docker_container_name: splunk

# Splunk credentials (from Doppler)
splunk_docker_password: "{{ lookup('env', 'SPLUNK_PASSWORD', default='') }}"
splunk_docker_hec_token: "{{ lookup('env', 'SPLUNK_HEC_TOKEN', default='') }}"

# Splunk ports
splunk_docker_web_port: 8000
splunk_docker_hec_port: 8088

# Splunk data directories
splunk_docker_data_dir: /opt/splunk
splunk_docker_var_dir: "{{ splunk_docker_data_dir }}/var"
splunk_docker_etc_dir: "{{ splunk_docker_data_dir }}/etc"

# Splunk configuration directory (for compose and configs)
splunk_docker_config_dir: /opt/splunk-config

# Index retention defaults
# 100GB in MB: 100 * 1024 = 102400MB
# 365 days in seconds: 365 * 24 * 60 * 60 = 31536000 seconds
splunk_docker_index_default_max_size_mb: 102400
splunk_docker_index_default_frozen_time_secs: 31536000

# Indexes to create
splunk_docker_indexes:
  - name: unifi
    max_size_mb: "{{ splunk_docker_index_default_max_size_mb }}"
    frozen_time_secs: "{{ splunk_docker_index_default_frozen_time_secs }}"
  - name: os
    max_size_mb: "{{ splunk_docker_index_default_max_size_mb }}"
    frozen_time_secs: "{{ splunk_docker_index_default_frozen_time_secs }}"
  - name: firewall
    max_size_mb: "{{ splunk_docker_index_default_max_size_mb }}"
    frozen_time_secs: "{{ splunk_docker_index_default_frozen_time_secs }}"
  - name: network
    max_size_mb: "{{ splunk_docker_index_default_max_size_mb }}"
    frozen_time_secs: "{{ splunk_docker_index_default_frozen_time_secs }}"


# Firewall configuration
splunk_docker_firewall_enabled: true

# Service user - IMPORTANT: Use splunk user UID inside container (41812)
# NOT root. This ensures proper file ownership for Splunk apps.
splunk_docker_user: "41812"
splunk_docker_group: "41812"

# Technology Add-ons (TAs) to install
# TAs must be placed in roles/splunk_docker/files/ as .tar, .tgz, or .spl files
splunk_docker_unifi_ta_version: 1.0.2+00b9ecb
splunk_docker_duck_yeah_version: 234
splunk_docker_addons:
  - name: TA-unifi-cloud
    filename: "TA-unifi-cloud-{{ splunk_docker_unifi_ta_version }}.tar"
    description: UniFi Cloud Add-on for Splunk (syslog parsing and field extraction)
  - name: Duck Yeah
    filename: "duck-yeah_{{ splunk_docker_duck_yeah_version }}.tgz"
    description: Duck Yeah - Splunk app for packaging and app management
