---
- name: Create inputs.conf configuration
  ansible.builtin.template:
    src: inputs.conf.j2
    dest: "{{ splunk_install_path }}/etc/system/local/inputs.conf"
    owner: splunk
    group: splunk
    mode: '0644'
  no_log: true
  notify: restart splunk

- name: Apply input configuration changes
  ansible.builtin.meta: flush_handlers

- name: Wait for inputs to be loaded
  ansible.builtin.pause:
    seconds: 5

- name: Verify HEC input is enabled
  ansible.builtin.uri:
    url: "http://localhost:8000/servicesNS/admin/data/inputs/http"
    user: "{{ splunk_admin_user }}"
    password: "{{ splunk_admin_password }}"
    method: GET
    validate_certs: false
    status_code: 200
  register: hec_check
  changed_when: false
  failed_when: hec_check.status != 200
  no_log: true
  retries: 3
  delay: 5

- name: Verify syslog input is enabled
  ansible.builtin.uri:
    url: "http://localhost:8000/servicesNS/admin/data/inputs/syslog"
    user: "{{ splunk_admin_user }}"
    password: "{{ splunk_admin_password }}"
    method: GET
    validate_certs: false
    status_code: 200
  register: syslog_check
  changed_when: false
  failed_when: syslog_check.status != 200
  no_log: true
  retries: 3
  delay: 5
