---
# DB Connect post-install configuration
# Called from tasks/main.yml after apps.yml installs the app archive.
# Configures JAVA_HOME so the Task Server and Query Server start correctly.

- name: Load DB Connect configuration vars
  ansible.builtin.include_vars:
    file: "{{ role_path }}/vars/dbconnect.yml"

- name: Configure DB Connect Java path
  when: splunk_docker_java_enabled
  vars:
    dbconnect_local_dir: "{{ splunk_docker_etc_dir }}/apps/{{ splunk_docker_dbconnect_app_dir }}/local"
  block:
    - name: Create DB Connect local config directory
      ansible.builtin.file:
        path: "{{ dbconnect_local_dir }}"
        state: directory
        owner: "{{ splunk_docker_user }}"
        group: "{{ splunk_docker_group }}"
        mode: '0755'

    - name: Configure DB Connect JAVA_HOME setting
      ansible.builtin.template:
        src: dbconnect_dbx_settings.conf.j2
        dest: "{{ dbconnect_local_dir }}/dbx_settings.conf"
        owner: "{{ splunk_docker_user }}"
        group: "{{ splunk_docker_group }}"
        mode: '0644'
      notify: Restart Splunk container

    - name: Mark DB Connect as configured
      ansible.builtin.template:
        src: dbconnect_app.conf.j2
        dest: "{{ dbconnect_local_dir }}/app.conf"
        owner: "{{ splunk_docker_user }}"
        group: "{{ splunk_docker_group }}"
        mode: '0644'
      notify: Restart Splunk container
