---
- name: Restart Splunk container
  community.docker.docker_compose_v2:
    project_src: "{{ splunk_docker_config_dir }}"
    state: restarted
  listen: Restart Splunk container

- name: Apply firewall rules
  ansible.builtin.command:
    cmd: "{{ splunk_docker_config_dir }}/firewall.sh"
  changed_when: true
  listen: Apply firewall rules
